@import './../../styles/helpers';

.form {
  border: solid 1px color(grey);
  padding: 10px;
  max-width: 500px;
}

.input {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  position: relative;
}

.message {
  color: color(green);
}
