@import './../../../styles/helpers';

.input {
  composes: input from './../Input/Input.module.scss';
  margin-right: 80px;
}

.error {
  composes: error from './../Input/Input.module.scss';
}

.button {
  border: solid 1px color(grey);
  border-radius: 10px;
  font: inherit;
  padding: 5px 0;
  position: absolute;
  right: 0;
  width: 70px;
}
