@import './../../../styles/helpers';

.input {
  border: solid 1px color(grey);
  font: inherit;
  padding: 5px;
  width: 100%;
}

.error {
  border-color: color(red);
}

.message {
  color: color(red);
  display: block;
}
